<!DOCTYPE html>
<html>
<head>
<title>文献</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/style/lady.css" type="text/css" rel="stylesheet" />


<script type='text/javascript' src='__PUBLIC__/style/ismobile.js'></script>
</head>

<body>
{include file="common/header" /}

<!--顶部通栏-->
<div class="overall">
<div class="left">
<div class="xnews2" style="float: left;width: 800px;height: 50px;margin-top: 40px">
<!--	<form role="form" action="" enctype="multipart/form-data" method="post">
		<span>
			<input type="text"  id="search" name="search" style="width: 400px;height:40px;border-radius: 5px;font-size: 18px" placeholder="请输入 文献检索关键词">
		</span>
	<select name="menu" style="width: 100px;height:40px;border-radius: 5px;font-size: 16px">
		<option value="title">文献主题</option>
		<option value="author_ch">作者</option>
		<option value="type">类型</option>
		<option value="datetime">出版年份</option>
		<option value="abstract">摘要</option>
		<option value="content">全文内容</option>
	</select>
		<select name="wentype" style="width: 100px;height:40px;border-radius: 5px;font-size: 16px">
			<option value="journal">期刊</option>
			<option value="thesis">学位论文</option>
			<option value="monograph">专著</option>
			<option value="newspaper">报纸</option>
			<option value="patent">专利</option>
			<option value="standard">标准</option>
		</select>
	<button type="submit" class="btn btn-default" style="width: 100px;height:40px;border-radius: 5px;font-size: 18px">检索</button>
</form>-->
</div>
</div>
</div>
<div class="position"></div>
<div class="overall">
	<div class="left" style="width: 600px;height: 1000px">


				<div class="mui-slider-item"><img width="600" height="300" src='__PUBLIC__/images/1.png' /></div>
			<!--	<div class="mui-slider-item"><a href="#"><img src="__PUBLIC__/images/logo.png" /></a></div>
				<div class="mui-slider-item"><a href="#"><img src="__PUBLIC__/images/logo.png" /></a></div>
				<div class="mui-slider-item"><a href="#"><img src="__PUBLIC__/images/logo.png" /></a></div>-->





	</div>
	{include file="common/right" /}

</div>


{include file="common/foot" /}

</body>
</html>