<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>专著-全文</title>
    <link href="__PUBLIC__/style/lady.css" type="text/css" rel="stylesheet"/>
    <script type='text/javascript' src='__PUBLIC__/style/ismobile.js'></script>
</head>

<body>
{include file="common/header" /}
<!--顶部通栏-->
<div class="position"><a href='{:url(' index/index')}'>主页</a> </div>

<div class="overall">
    <div class="left">
        <!--头部-->
        <div class="scrap">
            <h1>{$oneMono.title}</h1>
            <div class="spread">
                <span class="writor">出版时间：{$oneMono.datetime}</span>
                <span class="writor">作者：{$oneMono.author_ch} | {$oneMono.author_en}</span>
                <span class="writor">专著版本：{$oneMono.version}</span><br><br>

                <span class="writor">类型：{$oneMono.type}</span>
                <span class="writor">出版：{$oneMono.publisher}</span>
            </div>
        </div>
        <br>
        <!--摘要-->
        <div class="takeaway">
            <span class="btn arr-left"></span>
            <p class="jjxq">摘要：{$oneMono.abstract}</p>
            <span class="btn arr-right"></span>
        </div>
        <!--内容-->
        <div class="substance">
            {$oneMono.content}
        </div>

    </div>
    {include file="common/right" /}
</div>
{include file="common/foot" /}

</body>
</html>